html{
  margin: 0;
  padding: 0;
  font-family:  'Lato', sans-serif;
}
body{
  
  
}
.tom-wrapper{
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

p{
  font-size: 20px
 
}

.main-tom{
  background-color: black;
  height: 500px;
  width: 400px;
  border-radius: 35%;
  position: relative;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
}
.display{
  background-color: #d3d3d3;
  border-radius: 35%;
  height: 300px;
  width: 300px;
  left: 12.5%;
  top: 10%;
  position: absolute;
  
}
.interaction-btn{
  position: absolute;
  top: 75%;
  left: 25%;
}
.btn{
  height: 50px;
  width: 60px;
  border-radius: 35%;
}
.pet-dog{
  width: 75px;
  height: 75px;
  margin-top: 60%;
  margin-left: 40%;
  font-size: 120%;
  
}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}